<h1>Welcome to our Newsletter!</h1>
<p>Hi there,</p>
<p>Thank you for subscribing to our newsletter. We're excited to keep you updated!</p>
<img src="cid:newsletterImage" alt="Newsletter Banner" style="width: 100%; max-width: 500px;" />
<p>Cheers,<br/>The Team</p>
