<h1>Welcome to Gentelemen's Barbershop Newsletter!</h1>

<p>Hi there,</p>

<p>
  Thank you for subscribing to <strong>Gentelemen's Barbershop</strong> newsletter. <br>
  We're excited to keep you updated with our latest styles, offers, and grooming tips!
</p>

<!-- Inline image using cid -->
<img src="cid:newsletterImage" alt="Newsletter Banner" style="width: 100%; max-width: 500px;" />


<p>
  Thank you,<br/>
  <strong>Gentelemen's Barbershop Team</strong>
</p>
